body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #21e4e1;
    padding: .2em 0;
    text-align: center;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1.5em;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #873fca;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #0089b3;
    border-radius: 5px;
}

main {
    padding: 2em 10%;
}

section {
    margin-bottom: 2em;
}

h2 {
    font-size: 2em;
    color: #007BFF;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 0.5em;
}

p {
    text-align: justify;
    line-height: 1.6;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #e9ecef;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    border-radius: 5px;
}

ul li a {
    text-decoration: none;
    color: #007BFF;
}

ul li a:hover {
    text-decoration: underline;
}

#articles {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
}

article {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1.5em;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

article:hover {
    transform: translateY(-10px);
}

article h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #007BFF;
}

article img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
	
}

form {
    margin-top: 1em;
}

form label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

form input, form textarea {
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

.comments {
    margin-top: 1em;
    border-top: 1px solid #ddd;
    padding-top: 1em;
}

.comments p {
    margin: 0;
    padding: 0.5em 0;
    border-bottom: 1px solid #ddd;
}

footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 1em 40em;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
